* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  text-align: center;
  color: $primary-color;
}

#app {
  min-height: 100vh;
}

// Responsive img
img {
  max-width: 100%;
}

// Container
.container {
  margin: 0 auto;
  width: 1400px;
  max-width: 1400px;
}

// Utility flex
.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.ai-center {
  align-items: center;
}

// TYPOGRAPHY
h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-weight: 700;
}

span {
  font-size: 12px;
}